:root {
    --background-color-old: linear-gradient(30deg, rgb(248, 131, 181) 0%, rgb(163, 206, 255) 100%) no-repeat;
    --background-color: linear-gradient(30deg, rgb(243, 137, 183) 50%, rgb(225, 241, 153) 100%) no-repeat;
    --text-color-old: #8f28a3;
    --text-color: rgb(128, 6, 117);
}

@font-face {
    font-family: "Autery";
    src: url("../fonts/Autery.ttf");
}

@font-face {
    font-family: "Ambarella";
    src: url("../fonts/Ambarella.ttf");
}

html * {
    margin: 0;
    padding: 0;
}

body {
    background: var(--background-color);
    padding: 10px;
}

body, .content {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center; 
}

.content {
    opacity: 0;
    animation: show 500ms ease-in 1;
}

.menu {
    display: none;
}

.menu a {
    color: var(--text-color);
    text-decoration: none;
}

.menu a:visited {
    color: inherit;
}

header {
    top: 0;
    width: 100%;
    text-align: center;
    padding: 5px 0;
    position: sticky;
    backdrop-filter: blur(10px);
    z-index: 999;
}

footer {
    position: absolute;
    bottom: 0;
}

h1 {
    font-family: 'Ambarella';

}

article {
    padding-top: 30px;
}

#loading {
    color: var(--text-color);
    position: absolute;
    margin-top: 50%;
}

.header-title {
    padding: 0 14px;
    background: -webkit-linear-gradient(30deg, rgb(128, 6, 117) 50%, rgb(194, 176, 14)100%);
    font-weight: 900;
    font-size: 40px;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

card {
    background-color: rgba(182, 82, 207, 0.075);
    border-radius: 8px;
    box-shadow: #9740705b -1px 1px 5px;
    display: flex;
    max-width: 160px;
    min-width: 130px;
    margin: 0 10px;
    flex-direction: column;
    transition: all 100ms;
    position: relative;
}

card:hover {
    box-shadow: -2px 5px 15px #5a143f5d;
    transform: scale(1.1);
}

card title {
    color: var(--text-color);
    font-family: 'Helvetica';
    font-size: 16px;
   
    text-align: center;
    text-overflow: ellipsis;
    display: block;
}

card img {
    border-radius: 5px;
    object-fit: cover;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

card tag {
    border-radius: 5px 0px;
    position: absolute;
    color: white;
    font-size: 12px;
    font-family: monospace;
    font-weight: 600;
    padding: 4px 10px;
    background-color: red;
    text-align: center;
    top: 0;
}

card info-child {
    position: relative;
    border-radius: 0 0 5px 5px;
    display: flex;
    place-items: center;
    padding: 10px;
    overflow: hidden;
    height: 75px;
}

grid-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 160px;
}

.big-card {
    box-shadow: -2px 2px 10px #5a143f5d;
    height: 200px;
    border-radius: 5px;
    padding: 12px 15px;
    width: 100%;
}

.section-container {
    padding: 2px 12px;
    margin-bottom: 15px;
}

.section-title {
    background: -webkit-linear-gradient(
        0deg, rgba(177, 5, 163, 0.171) 60% , hsla(19, 100%, 50%, 0.199) 100%);
    color: var(--text-color);
    padding: 4px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin: 28px 10px 15px 10px;
    overflow: hidden;
}

.coming-soon-parent {
    height: 60px;
    display: flex;
    align-items: center;
}

.coming-soon {
    font-family: monospace;
    color: var(--text-color);
    width: 100%;
    font-size: 18px;
    text-align: center;
    animation: coming-soon 3s infinite;
}

@keyframes show { 
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
    
}
@keyframes coming-soon {
    0% {
        scale: 1;
    }

    50% {
        scale: 1.1;
    }
}